@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
    background-image: url(/public/Image/banner.jpg);
    background-repeat: no-repeat;
}
#review{
    background-image: url(/public/Image/counter-banner.jpg);
}